.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 90px;
    border-bottom: 1px solid rgb(128, 120, 120);
    font-weight: bold;
}

.header .logo {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    margin-left: 25px;
}

.header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header nav ul li {
    list-style: none;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
    padding-right: 25px;
}

.activeMercury {
    color: rgb(65, 158, 187) !important;
}

.activeVenus {
    color: rgb(237, 162, 73) !important;
}

.activeEarth {
    color: rgb(45, 104, 240) !important;
}

.activeMars {
    color: rgb(209, 76, 50) !important;
}

.activeJupiter {
    color: rgb(216, 58, 52) !important;
}

.activeSaturn {
    color: rgb(205, 81, 32) !important;
}

.activeUranus {
    color: rgb(30, 193, 162) !important;
}

.activeNeptune {
    color: rgb(45, 104, 240) !important;
}

.burger {
    font-size: 36px;
    display: none;
}

@media (max-width: 1024px) {
    .header {
        border-bottom: none;
        flex-direction: column;
        margin-top: 25px;
    }

    .header .logo {
        margin-left: 0;
    }

    .header nav {
        border-bottom: 1px solid gray;
        width: 99vw;
        display: flex;
        justify-content: center;
        margin-left: -15.5px;
    }
}

@media (max-width: 810px) {
    .header {
        height: 75px;
    }
    
    .cnt {
        display: flex;
        border-bottom: 1px solid gray;
        justify-content: space-between;
        align-items: center;
        height: 90px;
        width: 100%;
        padding: 12px 24px 12px 24px;
        background-color: #070724;
        z-index: 100;
        margin-top: -24px;
    }

    .header nav {
        position: absolute;
        transition: .3s ease;
        height: 100vh;
        width: 100vw;
        z-index: 10;
        background-color: rgb(24, 30, 61);
        text-shadow: 1px 1px  black;
        transform: translateX(-100%);
    }

    .opened {
        transform: translateX(0%) !important;
    }

    .header nav ul {
        margin-top: 150px;
        justify-content: flex-start;
        flex-direction: column;
    }

    .header nav ul li:not(:last-child) {
        margin-bottom: 25px;
    }

    .burger {
        display: block;
        position: relative;
    }
}