.container {
    padding: 1px;
    padding-top: 300px ;
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    color: white;
    height: 120vh;
    overflow-y: hidden;
    margin-bottom: 0;
    padding-bottom: 0;
}

.container * {
    margin-bottom: 50px;
}

.container h1 {
    font-size: 54px;
    margin-bottom: 40px;
}

.container a {
    width: 250px;
    background-color: rgb(130, 108, 255);
    padding: 12px 24px;
    color: white;
    text-decoration: none;
    transition: .2s ease;
    border-radius: 5px;
}

.container a:hover {
    background-color: rgb(184, 131, 253);
    transition: .2s ease;
}